* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  max-width: 60ch;
  margin: 0 auto;
  background: white;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
  max-width: 60ch;
  padding: 2rem 1rem;
}

h1, h2 {
  font-weight: 900;
}

p {
  line-height: 1.5;
}

li {
  margin-bottom: 1.5rem;
}

strong {
  font-weight: 900;
}

.toggleEffect {
  position: fixed;
  top: 1rem;
  left: 1rem;
  z-index: 1000;
  background: white;
  border: 1px solid black;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

#nonLuxy {
  display: none;
}